PizzaClient2/Service References/PizzaOrder/PizzaOrder2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PizzaDAL.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PizzaDAL.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="EmailAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Orders" nillable="true" type="tns:ArrayOfOrder" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="ArrayOfOrder">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Order" nillable="true" type="tns:Order" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrder" nillable="true" type="tns:ArrayOfOrder" />
  <xs:complexType name="Order">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Pizzas" nillable="true" type="tns:ArrayOfOrderedPizza" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Order" nillable="true" type="tns:Order" />
  <xs:complexType name="ArrayOfOrderedPizza">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrderedPizza" nillable="true" type="tns:OrderedPizza" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrderedPizza" nillable="true" type="tns:ArrayOfOrderedPizza" />
  <xs:complexType name="OrderedPizza">
    <xs:sequence>
      <xs:element minOccurs="0" name="Diameter" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderedPizza" nillable="true" type="tns:OrderedPizza" />
  <xs:complexType name="ArrayOfPizza">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Pizza" nillable="true" type="tns:Pizza" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPizza" nillable="true" type="tns:ArrayOfPizza" />
  <xs:complexType name="Pizza">
    <xs:sequence>
      <xs:element minOccurs="0" name="FamilyPrice" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:int" />
      <xs:element minOccurs="0" name="Toppings" nillable="true" type="tns:ArrayOfTopping" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Pizza" nillable="true" type="tns:Pizza" />
  <xs:complexType name="ArrayOfTopping">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Topping" nillable="true" type="tns:Topping" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTopping" nillable="true" type="tns:ArrayOfTopping" />
  <xs:complexType name="Topping">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Topping" nillable="true" type="tns:Topping" />
</xs:schema>